@charset "utf-8";
/* CSS Document */

body{
	background-color: aqua;
	font-family: "Arial";
	margin-left: 2cm;
	margin-right: 1cm; 
	font-size: 10pt;
}

h1{
	font-size: 14pt;
	color: green;
	font-weight: bold;	
}

h3{
	color: blue;
	text-align: center;
	font-style: italic;	
}

.uno{
	color: blueviolet;
	font-style: italic;
	text-decoration: underline;	
}

.enlace{
	color: blue;
	font-style: italic;
	text-decoration: underline;
}